.graph-board {
    height: 60vh;
    width: 40vh;
    overflow-y: auto;
    background-color: white;
}

.graph-container {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    height: 30%;
    width: 100%;
    margin-bottom: 2%;
}

.graph {
padding-bottom: 5%;
}
