.stats-board {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  background-color: black;
  width: 30vh;
  height: 70vh;
  margin-left: 1%;
}
.stats-breakdown-container {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}
.continent {
  padding-left: 1%;
  padding-bottom: 2%;
  padding-right: 1%;
  width: 97%;
  border-style: solid;
  border-width: 1px;
  border-color: slategray;
  list-style-type: none;
  color: white;
}
.country {
  padding-left: 1%;
  padding-bottom: 2%;
  padding-right: 1%;
  width: 97%;
  border-style: solid;
  border-width: 1px;
  border-color: slategray;
  list-style-type: none;
  color: white;
}
.vaccinations {
  padding-left: 1%;
  padding-bottom: 2%;
  padding-right: 1%;
  width: 97%;
  border-style: solid;
  border-width: 1px;
  border-color: slategray;
  list-style-type: none;
  color: white;
}
.item-title {
  font-weight: bolder;
}
.cases {
  color: red;
}
.deaths {
  color: rgb(218, 8, 218);
}
.vaccination-numbers {
  color: green;
}
