.totals {
  border-radius: 1px;
  border-style: solid;
  border-color: yellow;
  width: 97%;
  padding-left: 1%;
  font-size: 110%;
}
.totals-data {
  display: flex;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.totals-title {
  font-size: 1.1em;
  padding-right: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
  font-weight: bolder;
  color: white;
}
.data {
  margin-bottom: 1%;
  margin-top: 1%;
  padding-top: 1%;
  color: red;
  font-weight: bold;
}
