.stats-board {
    border-color: black;
    border-width: 1px;
    background-color: gray;
    width: 30vh;
    height: 60vh;
    margin-left: 1%;
}
.stats-breakdown-container {
    height: 85%;
    overflow-y: scroll;
}