.leaflet-container {
    width: 50%;
    height: 60vh;
    margin-left: 2%;
  }

.App {
  background-color: #b82b2b;
  height: 100vh;
}
.dashboard {
  display: flex;
  margin-top: 5vh;
}
.graph-board {
  height: 60vh
}
.cases-graph-container {
  background-color: white;
}
.case-graph {
  margin-bottom: 2%;
  height: 300;
  width: 300;
} 
.death-graph-container {
  background-color: white;
}
.death-graph {
  margin-bottom: 2%;
  height: 300;
  width: 300;
}